# Source: https://github.com/github/gitignore/blob/main/community/Golang/Go.AllowList.gitignore

# Ignore everything
*

# But not these files...
!.github/workflows/ci.yml
!.github/workflows/cd.yml
!/.dockerignore
!/.gitignore
!Dockerfile
!LICENSE
!README.md
!go.mod
!go.sum
!*.go

# ...even if they are in subdirectories
!*/
